@font-face {
    font-family: 'me_quran2';
    src: url("/fonts/me_quran2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:500,500i,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@font-face {
font-family: 'Sifonn Pro';
font-style: normal;
font-weight: normal;
src: local('Sifonn Pro'), url('/fonts/SIFONN_PRO.woff') format('woff');
}


/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
  }
    .custom-select-trigger {
         position: relative;
		display: block;
		max-width: inherit;
		text-align: left;
		padding: 0 84px 0 22px;
		font-size: 14px;
		font-weight: 300;
		color: #575962;
		height: 50px;
		line-height: 45px;
		background: #ffffff;
		border-radius: 40px;
		cursor: pointer;
		border: 2px solid #f5d500;
    }
      .custom-select-trigger:after {
        position: absolute;
		display: block;
		content: '';
		width: 10px;
		height: 10px;
		top: 50%;
		right: 25px;
		margin-top: -3px;
		border-bottom: 1px solid #17a2b8;
		border-right: 1px solid #48abf7;
		transform: rotate(45deg) translateY(-50%);
		transition: all .4s ease-in-out;
		transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 2000;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
     position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #b5b5b5;
    font-size: 14px;
    font-weight: 600;
    color: #b5b5b5;
    line-height: 40px;
    text-align: left;
    cursor: pointer;
    transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #f9f9f9;
    }

.a-card{
  display: block;
}
.a-card:hover{
  text-decoration: none;
  background: #f6f6f6;
}
.surahjusnav .nav-item{
  color:black;
}
.surahjusnav a:hover{
  cursor: pointer;
}
.surahjusnav a.active{
  color:#CF5200!important;
  font-weight: bold;
}
.verse{
  border-bottom: 1px solid #eaeaea;
}
.arab-verse {
    font-family: 'me_quran2';
    font-size: 1.3rem;
    line-height: 2.5rem;
    color:black;
}
.solat h2, .solat h5, .solat p{
  color:#333!important;
}
.sidebar .nav>.nav-item a i, .text-theme{
   color:#CF5200!important;
   font-weight: bold;
}
.page-item.active .page-link{
  background-color: #CF5200;
  border-color: #CF5200;
}
@media screen and (max-width: 991px){
  .card .card-title {
    font-size: 50px;
}
}



@media screen and (max-width: 570px){
  .ds-none{
  display: none;
}
  .mt-sml-0{
    margin-top: 0px !important;
  }
}

.shadows {
  position: absolute;
    z-index: -1;
    bottom: 3px;
}

.segment{
  position: relative;
  padding-bottom: 10px
}


.br-10{
  border-radius: 10px;
}


.text-title {
  font-family: 'Sifonn Pro';
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #000;
}


.owl-prev {

  text-align: center;
  background-color: #ffffff00;
    position: absolute;
    left: -5px;
    top:32%;
    border: none;

}

.owl-next {

  text-align: center;
  background-color: #ffffff00;
  position: absolute;
  right: -5px;
  top: 33%;
  border: none;
}


.owl-next i {
  color: #ffffff;
    font-size: 30px;
    background: #00000082;
    padding: 10px;

}

.owl-prev i {
  color: #ffffff;
    font-size: 30px;
    background: #00000082;
    padding: 10px;
}

.panel-title{
      box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 5px;
}

.panel-title a{
    text-decoration: none;
}

.panel-title a:hover, .panel-title a:focus{
  color:#ffc13b;
}
.panel-body{
  padding: 10px 10px 15px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right,#ffb4ac , #ffc13b);
    color: #000;
}


.cbody{
  border-radius: 15px;
  margin-top: 30px; 
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ctitle-r{
  border-bottom: 3px solid #7cdaf7;
  padding: 5px 10px;
}

.ctitle-p{
  border-bottom: 3px solid #acda57;
  padding: 5px 10px;
}

.ctitle-t{
  border-bottom: 3px solid #ffb3b4;
  padding:10px;
}
.ctitle-w{
border-bottom: 3px solid #ef2bb2;
padding:10px;
}


.ctitle-td{
  border-bottom: 3px solid #fadd67; 
  padding: 5px 10px;"
}

.ctitle-z{
  border-bottom: 3px solid #dcd4d8; 
  padding: 5px 10px;
}




.ctitle-bt{
  font-size: 18px; 
  font-weight: bold;
  background-image: linear-gradient(to right,#77d8fa , #baeed1);
  color: #000;
}

.ctitle-bt-p{
  font-size: 18px; 
  font-weight: bold;
  background-image: linear-gradient(to right,#87d957 , #f6dd58);
  color: #000;
}

.ctitle-bt-t{
font-size: 18px; 
font-weight: bold;
background-image: linear-gradient(to right,#ffb4ac , #ffc13b);
color: #000;

}
.ctitle-bt-w{
font-size: 18px; 
font-weight: bold;
background-image: linear-gradient(to right,#7cc3f6 , #f424af);
color: #000;
}

.ctitle-bt-td{
  font-size: 18px; 
  font-weight: bold;
  background-image: linear-gradient(to right,#fadd67 , #dad9d3);
  color: #000;
}

.ctitle-bt-z{
  font-size: 18px; 
  font-weight: bold;
  background-image: linear-gradient(to right,#dcd4d8 , #f9b4d7);
  color: #000;
}

.ctitle-bt-r{
  font-size: 18px; 
  font-weight: bold;
  background-image: linear-gradient(to right,#6ae1d4 , #b9e176);
  color: #000;
}

.ccontent-r{
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 20px;
}

.jawi{
  font-size: 24px;
  font-weight: bold;
}



.hukum{
  text-align: center; 
  font-weight: bold;
}

.img-content{
  width: 100%;
}

.clist{
  text-align: left;
  padding-bottom: 20px;
}
.clist ol{
  padding-left:30px;
}

.clist ol li{
  padding-left:7px;
}







/*salam kad*/

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; 
}

.container:hover .image {
  opacity: 0.8;
}

.container:hover .middle {
  opacity: 1;
}

.img {
  width: 720px;
  margin: 50px auto 20px;
  padding: 30px;
}

.imgBox img {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0,0,0,.3);

}


.to-card{
  font-size: 40px;
  font-family: "Berkshire Swash";
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff800;
  margin-top: -5px;
  
}

.card_context1{
  font-family: "Comic Sans MS";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-top: -5px;
}

.card_context2{
  font-size: 50px;
  font-family: "Berkshire Swash";
  color: rgb(255, 163, 0);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffbb1e;
  margin-top: -5px;
} 

.table-typo2 tbody > tr > td{
  border-color: #fafafa;
}

.table-typo2 tbody > tr > td:first-child{
  min-width: 200px;
  vertical-align: bottom;
}

.table-typo2 tbody > tr > td:first-child p{
  font-size: 14px;
  color: #333;
}

.item {
  height: 50px;
  width: 50px;
  position: absolute;
  background: orange;
}


#divResize, #divResize1, #divResize2 { 
  min-width:30%; 
  min-height: 8%;
  max-width: 100%;
  max-height: 100%;
  margin:5px; 
  font:13px Arial; 
  cursor:move; 
  float:left; 
}

p{ 
  line-height: 1.5;
}

#divResize:hover, #divResize1:hover, #divResize2:hover{
  border: dashed 1px black;
  display: block;
}

#divResize:focus, #divResize1:focus, #divResize2:focus{
  border: dashed 1px black;
  display: block;
}



.btn-font {
    background: #ffffff!important;
    border-color: #979797!important;
    color: #000 !important;
}

.mbt-5{
  margin-bottom: 5px;
}

.kad_slider .owl-next {
    text-align: center;
    background-color: #ffffff00;
    position: absolute;
    right: -5px;
    top: 45%;
    border: none;
}


.kad_slider .owl-prev {

  text-align: center;
  background-color: #ffffff00;
    position: absolute;
    left: -5px;
    top:45%;
    border: none;

}


.kad_slider .owl-next i {
  color: #ffffff;
    font-size: 20px;
    background: #00000082;
    padding: 10px;

}

.kad_slider .owl-prev i {
  color: #ffffff;
    font-size: 20px;
    background: #00000082;
    padding: 10px;
}


.title-tag{
  border-bottom: 1px solid #CF5200;
  padding:10px;
}

.detail-tag{
  text-align: left; 
  padding-bottom: 20px; 
  padding-top: 15px;
}

.Rectangle-1{
  position: relative; 
  margin-bottom: 15px; 
}

.canvas-wrap{
  width:100%; 
  height: 100%;
  position: absolute;
}

.text1-wrap {
    top: 66%;
    position: absolute;
    left: 8%;
}

.text2-wrap{
  top: 75%; 
  position: absolute;
  left: 8%;
}

.text3-wrap{
  position: absolute; 
  top: 80%;
  left: 8%;
}

.edit-wrap{
  margin-left: 0px; 
  margin-bottom: 5px;
  padding-right: 15px;
}

.fontsize{
  border-radius: 4px;
  margin-right: 5px;
}
.fontcolor{
  padding: 0px 12px;
  margin-right: 5px;

}

.fontstyle{
  padding: 5px 12px !important;
  margin-right: 5px !important;
}

.text-editor{
  width:100%;
  border-radius: 4px;
}

.kad-wrap{
  padding-top: 50px;
}

.kad-col img{
  height: auto; 
  margin-bottom: 20px;
}

@media screen and (max-width: 550px){
  .table-typo2 tr td{
    display: flex;
    align-items: center;
    word-break: break-word;
  }

  .table-typo2 tr td:first-child p{
    margin-bottom: 1rem;
  }

 .fontcolor{
  padding: 0px 6px;
  margin-right: 5px;

  }

  .fontstyle{
    padding: 5px 6px !important;
    margin-right: 5px !important;
  }


  .text1-wrap {
    top: 66%;
    position: absolute;
    left: 8%;
  }

  .text2-wrap{
    top: 74%; 
    position: absolute;
    left: 8%;
  }

  .text3-wrap{
    position: absolute; 
    top: 80%;
    left: 8%;
  }

  .to-card{
  font-size: 20px;
  font-family: "Berkshire Swash";
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff800;
  margin-top: -5px;
  
}

.card_context1{
  font-family: "Comic Sans MS";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-top: -5px;
}

.card_context2{
  font-size: 28px;
  font-family: "Berkshire Swash";
  color: rgb(255, 163, 0);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffbb1e;
  margin-top: -5px;
  } 


}

.feed h2, .feed h5, .feed p{
  color:#333!important;
}

.feed a {
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    background: #33959f;
    padding: 3px 20px;
    line-height: 2;
    margin-top: 10px;
    text-decoration: none;
}

.feed a:hover{
    color: #369ca0;
    background: #f5f5f5;
}

.app-logo {
  width: 135px;
  height: 40px;
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .app-logo {
    width: 101px;
    height: 35px;
    margin-right: 5px;
  }
}